<template>
    <require from="bootstrap/css/bootstrap.css"></require>
    <require from="resources/css/styles.css"></require>
    <require from="semantic-ui/semantic.css"></require>

    <div class="lr20 common-font">
        <div class = "ui five centered cards">
            <div class="card" repeat.for="service of services">
                <div class="image">
                    <img src="${service.pic.path}">
                </div>
                <div class="content">
                    <a class="header" disabled="true">
                        ${service.name}
                    </a>
                    <div class="description">
                        ${service.description}
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>