<template>
    <require from="bootstrap/css/bootstrap.css"></require>
    <require from="resources/css/styles.css"></require>
    <require from="semantic-ui/semantic.css"></require>

    <div class="central-text common-font">
        <div class="ui centered large header">
            ${mainHeader}
        </div>
        <p class="central-text common-font" repeat.for="t of mainText">
            ${t}
        </p>
    </div>

    <div class="ui horizontal divider common-font">
        ${dividerText}
    </div>
    <div class="ui basic segment"></div>

    <div class="lr100">
        <div class = "ui five centered cards">
            <div class="ui grey raised link card" repeat.for="service of services">
                <div class="image">
                    <img src="${service.pic.path}">
                </div>
                <div class="content common-font">
                    <a class="header" disabled="true">
                        ${service.name}
                    </a>
                    <div class="description">
                        ${service.partialData}
                    </div>
                </div>
                <div class="extra content common-font">
                    <button class="${service.showFullData() ? 'ui hidden button' : 'ui blue right floated basic button'}" click.delegate="service.onClick()">Read More</button>
                </div>
            </div>
        </div>
    </div>

</template>