<template>
    <div class="container">
        <div class="jumbotron common-font">
            <h1>${mainHeader}</h1>
            <p>${text}</p>
            <div class="common-font event-box" repeat.for="event of events" style="background-color: white;">
                <p class="justify-right20" repeat.for="txt of event.text">${txt}</p>
                <h3>${scheduleHeader}</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-heading" repeat.for="time of event.times">
                        ${time}
                    </li>
                </ul>
                <div style="text-align: right;">
                    <h4>${admissionHeader}
                        <small style="color: orangered;">${event.admission}</small>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</template>