<template>
    <div class="pad20">
        <h1 class="ui large header">
            <span class="common-font">
                ${mainHeader}
            </span>
            <div class="sub large header margin10">
                <p class="common-font justify-right20">
                    ${text}
                </p>
            </div>
        </h1>

        <div class="pad20">
            <div class="ui list">
                <div class="item common-font" repeat.for="addr of addresses">
                    <div class="ui medium header">
                        <bold>${addr.name}</bold>
                    </div>
                    <p class="justify-right20">
                        ${addr.street}</br>
                        ${officeHoursT}: ${addr.officeHours}</br>
                        ${phoneT}: ${addr.phoneNum}</br>
                        ${faxT}: ${addr.fax}</br>
                        ${emailT}: ${addr.email}</br>
                    </p>
                    <div class="ui divider"></div>
                </div>
            </div>
        </div>
    </div>
</template>