.margin5 {
    margin: 5px;
}

.lr50 {
    margin-left: 50px;
    margin-right: 50px;
}

.lr100 {
    margin-left: 100px;
    margin-right: 100px;
}

.ud50 {
  margin: 50px 0;
}

.margin10 {
    margin: 10px;
}

.common-font {
    font-family: sans-serif;
    text-decoration: none;
    white-space: pre-line;
}

.pad20 {
    padding: 20px 20px 0;
}

.pad-r10 {
    padding-right: 10px;
}

.picDescription {
    text-shadow: 3px 2px black;
    font-weight: bold;
    font-size: 2em;
    background-color: #1C1E1F;
}

div.central-text {
    max-width: 1000px;
    margin: 50px auto;
    border-left: 10px solid forestgreen;
}


p.central-text {
    padding: 10px 50px;
    font: 1.2em sans-serif;
    text-decoration: none;
    text-align: justify;
    line-height: 2em;
    white-space: pre-line; /*allows \n to create a new line in html*/
}

p.justify-right20 {
    font-size: 1.2em;
    padding-right: 20px;
    text-align: justify;
    white-space: pre-line;
}

.main-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9bcdff+0,6eb0f2+0,86c0fa+76 */
    background: rgb(155,205,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(155,205,255) 0%, rgb(110,176,242) 0%, rgb(134,192,250) 76%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(155,205,255) 0%,rgb(110,176,242) 0%,rgb(134,192,250) 76%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(155,205,255) 0%,rgb(110,176,242) 0%,rgb(134,192,250) 76%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bcdff', endColorstr='#86c0fa',GradientType=0 ); /* IE6-9 */
}

.header-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#86dbfa+17,6ecff2+99,9be4ff+100 */
    background: rgb(134,219,250); /* Old browsers */
    background: -moz-linear-gradient(left, rgb(134,219,250) 17%, rgb(110,207,242) 99%, rgb(155,228,255) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgb(134,219,250) 17%,rgb(110,207,242) 99%,rgb(155,228,255) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgb(134,219,250) 17%,rgb(110,207,242) 99%,rgb(155,228,255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86dbfa', endColorstr='#9be4ff',GradientType=1 ); /* IE6-9 */
}

.select {
    background-color: #1C1E1F;
    border: none;
}