.margin5 {
    margin: 5px;
}

.lr50 {
    margin-left: 50px;
    margin-right: 50px;
}

.lr100 {
    margin-left: 100px;
    margin-right: 100px;
}

.ud50 {
  margin: 50px 0;
}

.margin10 {
    margin: 10px;
}

.common-font {
    font-family: sans-serif;
    text-decoration: none;
    white-space: pre-line;
}

a.noDecor {
    text-decoration: none;
}

.pad20 {
    padding: 20px 20px 0;
}

.pad-r10 {
    padding-right: 10px;
}

div.links {
    position: absolute;
    top: 400px;
    left: 100px;
    max-width: 300px;
}

div.links div {
    align-items: center;
}

/*
    created round buttons for
    link buttons
*/
div.round-button:hover{
    opacity: .8;
    width: 65px;
    height: 65px;
    box-shadow: 0 0 20px #1C1E1F;
}

div.round-button:active{
    opacity: .8;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 20px #1C1E1F;
}

div.round-button {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 20px dimgrey;
    margin: 40px auto;
}

div.round-button img {
    display: block;
    width: 100%;
    border-radius: 50%;
    border: 5px solid whitesmoke;
}

div.centered-div {
    position: absolute;
    top: 50%;
    left: 50%;
}

.picDescription {
    font-size: 1.5em;
    max-width: 400px;
    max-height: 100px;
    margin: auto;
    color: white;
    font-family: Georgia, sans-serif;

    background: rgba(193,158,103,1);
    background: -moz-linear-gradient(-45deg, rgba(193,158,103,1) 0%, rgba(110,72,14,1) 1%, rgba(110,72,14,1) 7%, rgba(110,72,14,1) 15%, rgba(110,72,14,1) 26%, rgba(110,72,14,1) 35%, rgba(125,75,0,1) 48%, rgba(150,104,36,1) 68%, rgba(233,212,179,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(193,158,103,1)), color-stop(1%, rgba(110,72,14,1)), color-stop(7%, rgba(110,72,14,1)), color-stop(15%, rgba(110,72,14,1)), color-stop(26%, rgba(110,72,14,1)), color-stop(35%, rgba(110,72,14,1)), color-stop(48%, rgba(125,75,0,1)), color-stop(68%, rgba(150,104,36,1)), color-stop(100%, rgba(233,212,179,1)));
    background: -webkit-linear-gradient(-45deg, rgba(193,158,103,1) 0%, rgba(110,72,14,1) 1%, rgba(110,72,14,1) 7%, rgba(110,72,14,1) 15%, rgba(110,72,14,1) 26%, rgba(110,72,14,1) 35%, rgba(125,75,0,1) 48%, rgba(150,104,36,1) 68%, rgba(233,212,179,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(193,158,103,1) 0%, rgba(110,72,14,1) 1%, rgba(110,72,14,1) 7%, rgba(110,72,14,1) 15%, rgba(110,72,14,1) 26%, rgba(110,72,14,1) 35%, rgba(125,75,0,1) 48%, rgba(150,104,36,1) 68%, rgba(233,212,179,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(193,158,103,1) 0%, rgba(110,72,14,1) 1%, rgba(110,72,14,1) 7%, rgba(110,72,14,1) 15%, rgba(110,72,14,1) 26%, rgba(110,72,14,1) 35%, rgba(125,75,0,1) 48%, rgba(150,104,36,1) 68%, rgba(233,212,179,1) 100%);
    background: linear-gradient(135deg, rgba(193,158,103,1) 0%, rgba(110,72,14,1) 1%, rgba(110,72,14,1) 7%, rgba(110,72,14,1) 15%, rgba(110,72,14,1) 26%, rgba(110,72,14,1) 35%, rgba(125,75,0,1) 48%, rgba(150,104,36,1) 68%, rgba(233,212,179,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c19e67', endColorstr='#e9d4b3', GradientType=1 );

    border-radius: 3px;
    border: 10px outset #996515;
    /*overflow-y: auto;*/
}

img.imageStandard {
    max-width: 100%;
    max-height: 650px;
    margin: auto;
    image-orientation: from-image;
    object-fit: contain;
    /*border: 7px outset darkgoldenrod;*/
}

div.central-text {
    max-width: 1000px;
    margin: 50px auto;
    border-left: 10px solid forestgreen;
}


p.central-text {
    padding: 10px 50px;
    font: 1.2em sans-serif;
    text-decoration: none;
    text-align: justify;
    line-height: 2em;
    white-space: pre-line; /*allows \n to create a new line in html*/
}

p.justify-right20 {
    font-size: 1.2em;
    padding-right: 20px;
    text-align: justify;
    white-space: pre-line;
}

.main-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9bcdff+0,6eb0f2+0,86c0fa+76 */
    background: rgb(155,205,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(155,205,255) 0%, rgb(110,176,242) 0%, rgb(134,192,250) 76%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(155,205,255) 0%,rgb(110,176,242) 0%,rgb(134,192,250) 76%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(155,205,255) 0%,rgb(110,176,242) 0%,rgb(134,192,250) 76%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bcdff', endColorstr='#86c0fa',GradientType=0 ); /* IE6-9 */
}

.header-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#86dbfa+17,6ecff2+99,9be4ff+100 */
    background: rgb(134,219,250); /* Old browsers */
    background: -moz-linear-gradient(left, rgb(134,219,250) 17%, rgb(110,207,242) 99%, rgb(155,228,255) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgb(134,219,250) 17%,rgb(110,207,242) 99%,rgb(155,228,255) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgb(134,219,250) 17%,rgb(110,207,242) 99%,rgb(155,228,255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86dbfa', endColorstr='#9be4ff',GradientType=1 ); /* IE6-9 */
}

.select {
    background-color: #1C1E1F;
    border: none;
    text-align: center;
}