<template>
    <div class="pad20">
        <div class="ui centered large header common-font">
            ${header}
        </div>
    </div>

    <div class="links common-font">
        <div class="ui large header" style="text-align: left;">
            <p>Our Partners</p>
        </div>

        <div class="round-button">
            <a href="http://www.ave-tours.com" target="_blank">
                <img src="/pics/misc/ave-tours-ico.ico"/>
            </a>
        </div>

        <div class="round-button">
            <a href="http://www.hello.com" target="_blank">
                <img src="/pics/misc/ave-tours-ico.ico"/>
            </a>
        </div>

        <div class="round-button">
            <a href="http://www.bye.com" target="_blank">
                <img src="/pics/misc/ave-tours-ico.ico"/>
            </a>
        </div>

    </div>

    <div class="central-text common-font">
        <p class="central-text common-font" repeat.for="d of data">${d}</p>
    </div>
</template>