<template>
    <require from="bootstrap/css/bootstrap.css"></require>
    <require from="resources/css/styles.css"></require>
    <require from="semantic-ui/semantic.css"></require>

    <div class="lr50">
        <h1 class="ui header">
            ${mainHeader}
            <div class="sub header margin10">
                ${text}
            </div>
        </h1>

        <div class="ui list">
            <div class="item" repeat.for="addr of addresses">
                <div class="header">
                    <bold>${addr.name}</bold>
                </div>
                ${addr.street}</br>
                Office Hours: ${addr.officeHours}</br>
                Phone: ${addr.phoneNum}</br>
                Email: ${addr.email}</br>
            </div>
        </div>
    </div>

</template>