<template>
    <require from="bootstrap/css/bootstrap.css"></require>
    <require from="resources/css/styles.css"></require>
    <require from="semantic-ui/semantic.css"></require>

    <div class="ui segment">
        <img class="ui segment grey inverted medium image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted medium image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted medium image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted large image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted large image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted large image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted large image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted large image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted large image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted large image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted large image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted large image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted medium image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted medium image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted medium image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted medium image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted medium image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted medium image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted medium image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted small image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted small image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted small image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted small image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted small image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted small image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted small image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted medium image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted medium image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted tiny image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted tiny image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted tiny image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted medium image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted medium image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted large image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted large image" src="/pics/services/pic.jpg">
        <img class="ui segment grey inverted large image" src="/pics/services/pic.jpg">
    </div>

</template>