ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: forestgreen;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

li {
  float: left;
  padding: 0 3px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px 5px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: forestgreen;
}

.active {
  background-color: forestgreen;
  border-bottom: 2px solid white;
}

.right {
  float: right;
}
