div.menu {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: forestgreen;
  position: fixed;
}

div.left {
  float: left;
  padding-left: 10px;

  border: 2px solid red;
}

div.right {
  float: right;
  padding-right: 10px;
  border: 2px solid red;
}
