ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: left;
  padding: 0 3px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 14px;
  text-decoration: none;
  outline: none;
}

li a:hover:not(.active) {
  background-color: forestgreen;
}

.active {
  background-color: forestgreen;
  border-bottom: 2px solid white;
}
